chrome/*.app
chrome/chromedriver-darwin
chrome/chromedriver-linux64
chrome/*.test
docs
sql.db
!model/testdb/sql.db
todo.md
*_output
*.csv
docker-entrypoint-initdb.d
*.pdf
*.numbers
預測*
apps/*
lotto649op/*